* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  background-color: lightgrey;
  width: 270px;
  margin: 10px;
  border-radius: 10px;
}
.card-image {
  height: 170px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-size: cover;
  box-shadow: 5px;
}
.card-1 {
  background-image: url("/images/image1.jpg");
}
.card-2 {
  background-image: url("/images/image2.jpg");
}
.card-3 {
  background-image: url("/images/image3.jpg");
}
.card-4 {
  background-image: url("/images/image4.jpg");
}
.card-5 {
  background-image: url("/images/image5.jpg");
}
.card-6 {
  background-image: url("/images/image6.jpg");
}
.card-7 {
  background-image: url("/images/image7.jpg");
}
.card-8 {
  background-image: url("/images/image8.jpg");
}
.card-9 {
  background-image: url("/images/image9.jpg");
}
h2 {
  display: block;
  text-align: center;
  color: cornflowerblue;
}
p {
  padding: 10px;
  color: cornflowerblue;
}
a {
  background-color: rgb(62, 62, 62);
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 20px;
}
.card:hover {
  background-color: whitesmoke;
  cursor: pointer;
  transform: scale(1.09);
  transition: all 1s ease;
}
